models--openai--clip-vit-base-patch32/
models--openai--clip-vit-large-patch14/
models--meta-llama--Meta-Llama-3-8B/
model-openai-clip-oc-vit-b-32/
model-openai-clip-oc-vit-l-14/
backup.py
.locks/
LoRA_checkpoints/
LoRA_heads/
heads/
FFT_checkpoints/
FFT_heads/
__pycache__/
wandb/
dataset/parsing/__pycache__/
models/__pycache__/
training_scripts/__pycache__/
configs/__pycache__/8vision_train.cpython-39.pyc
configs/__pycache__/vitB_r16_knots_ties.cpython-39.pyc
dataset/__pycache__/
ingredients/
__pycache__/
logs/
plots/
*.pyc
